RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=tfAi1T32FWLPaKHrxoc2yHhn
PORT=3001

# Email Configuration (for future Nodemailer integration)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your-app-password
SMTP_FROM_EMAIL=noreply@styledbynazima.com
SMTP_FROM_NAME=StyledByNazima
