RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=tfAi1T32FWLPaKHrxoc2yHhn
PORT=3001

# MongoDB Connection
MONGODB_URI=mongodb://localhost:27017/nazima-brand
# For MongoDB Atlas: MONGODB_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/nazima-brand

# JWT Configuration
JWT_SECRET=your_jwt_secret_key_change_in_production

# Email Configuration (for future Nodemailer integration)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your-app-password
SMTP_FROM_EMAIL=noreply@styledbynazima.com
SMTP_FROM_NAME=StyledByNazima
